<div class="page-header">
  <%= link_to products_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
<h2 class="text-center"> Receipt </h2>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Quantity</th>
            <th>Name</th>
            <th>Price</th>
          <th>Total</th>
          <th>Total Taxes</th>

      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @list) do |prod| %>
          <td><%= prod.qnty %></td>
          <td><%= prod.name %></td>
          <td><%= prod.price %></td>
        <td></td>
        <td></td>
      <% end %>
      <tr>
          <td></td>
          <td></td>
          <td></td>
        <td><%= number_to_currency(@total, precision: 2) %></td>
        <td><%= number_to_currency(@total_taxes, precision: 2) %></td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
