<%= form_for(@category, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @category.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h4>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Category_Name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :cat_name, class: "form-control" %>
    </div>
  </div>
  <div id="tax_fee_field" class="form-group" >
    <%= f.label :tax_fee, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :tax_fee, class: "form-control" %>
    </div>

    <!-- <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
      <span class="input-group-addon">.00</span>
    </div>
     -->
  </div>
  <div id="fee_free_check" class="form-group" >
    <%= f.label :fee_free, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :fee_free, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
